/* 
    Created on : 14.08.2014, 9:35:31
    Author     : korolariya
*/
.center {
  text-align: center; }

.text {
  padding: 15px; }

.transp_text {
  malign: 0 auto; }
<<<<<<< HEAD
=======

.tabs li.disabled {
  background: #ccc !important; }
>>>>>>> master
