.items-page{
	.border_box;
	position:absolute;
	width:100%;
	height:100%;
	padding-top:35px;
	nav.head{
		.border_box;
		.border_radius_4(5px,5px,0,0);
		.box_shadow(0,0,2px,#333);
		position: absolute;
		top:0;
		width: 100%;
		background:#00639d;
		overflow: hidden;
		ul{
			.ul-clean;
			overflow: hidden;
			li{
				.fll(auto);
				&.active{
					.box_shadow_inset(0px,0px,10px,#004974);
				}
				&:hover{
					.box_shadow_inset(0px,0px,10px,#00507f);
				}
				a{
					display: block;
					padding: 8px 14px;
					color:#fff;
					&:hover{
						text-decoration: none;
					}
					&.awesome{
						font-size:1.8rem;
					}
				}
			}
		}
	}
	section.content{
		.border_box;
		.border_radius_4(0,0,6px,6px);
		.box_shadow(0,0,2px,#333);
		position: relative;
		background: #fff;
		padding: 10px 20px;
		width:100%;
		height:100%;
		#trenings{
			overflow: hidden;
			#traning_name{
				position: relative;
				float:left;
			}
			#traning_name_msg{
				position: relative;
				float: right;
			}
			input[type="text"]{
				font-size:1.1rem;
				width: 100%;
				padding:3px 5px;
				height: auto !important;
				margin-bottom: 5px;
				margin-top: 6px;
			}
			#cke_desctrening{
				width:100% !important;
			}
			.levels-container{
				margin-top: 20px;
				overflow: hidden;
				width: 100%;
				position: relative;
				.field{
					height:100px;
				}
			}
			.params{
				margin-top: 10px;
				label{
					margin-bottom: 5px;
				}
			}
			.field{
				.fll(16%);
				&.place{
					.fll(32%);
					input{
						width: 95% !important;
					}
				}
				input[type="text"]{
					width: 90%;
				}
				.checkbox{
					.fll(20px);
					margin-top: 3px;
					input{
						margin: 0 !important;
						height:auto !important;
						width:auto !important;

					}
				}
				.select-date{
					.transition(height, 0.4s, swing);
					.border_box;
					.border_radius(4px);
					z-index: 1;
					clear:both;
					position: absolute;
					bottom:0;
					width:100%;
					overflow: hidden;

					&.active{
						display:block;
					}
				}
				.control-label{
					display:block;
					text-align: left;
				}
			}
			.form-group, .row{
				margin: 0 !important;
			}
			.training-row{
				.transition(all, 0.4s, swing);
				height:0px;
				overflow:hidden;
				opacity:0;
				&.active{
					height:auto;
					opacity: 1;
				}
			}
		}
		.tab-pane{
			&#all{
				table{
					tr{
						th{
							font-size:1.1rem;
							&.date{
								width:250px;
							}
							&.city{
								width:130px;
							}
							&.category{
								width:130px;
							}
						}
					}
					.select2{
						width:100%;
					}
				}
				input{
					&#filtrdatebegin{
						.fll(110px);
						display: block;
						margin-right: 10px;
					}
					&#filtrdateend{
						.fll(110px);
						display: block;
					}
				}
			}
			
		}
	}
}